@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.toast-transition {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
